@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/labwebprojeto.styles.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.4.38/bootstrap5-dark.css" />
</head>
<body class="bodylogin" >
    <main class="classmain">
        <section class="about-login">

            <div class="forgotpassword">
                <div class="row">
                    <div class="col-md-12 about-image nopadding">
                       
                       
                        <div class="row">
                            <div class="col-7">
                               
                            </div>
                            <div class="col-5">
                        <h1>@ViewData["Title"]</h1>
                        <h2>Enter your email</h2>
                        <div class="row">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="soparabutton">
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                                </div>

                            </form>

                        </div>
                            </div>
                    </div>
                </div>
            </div>
            </div>

        </section>
    </main>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </body>
    </html>

