@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/labwebprojeto.styles.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.4.38/bootstrap5-dark.css" />
</head>
<body class="bodylogin">
    <main class="classmain">
    <section class="about-login">
        <div class="registerserio">
            <div class="row">
                <div class="col-md-12 about-image nopadding">
                    
                        <div class="row">
                            <div class="col-7">
                               
                            </div>
                            <div class="col-5">


                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h1>@ViewData["Title"]</h1>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-floating" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                            <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.UserName" ></label>
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="form-floating">
                                <label asp-for="Input.Role"></label>
                                <select asp-for="Input.Role" class="form-control" asp-items='new SelectList(ViewBag.roles, "Name", "Name")'>
                                    <option value="Select a Role" class="form-control"></option>
                                </select>
                                <span asp-validation-for="Input.Role" class="text-danger"></span>
                            </div>
                            <div class="form-floating">
                                <input asp-for="Input.Telefone" class="form-control" aria-required="true" />
                                <label asp-for="Input.Telefone"></label>
                                <span asp-validation-for="Input.Telefone" class="text-danger"></span>
                            </div>
                        }
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
    </html>
