@model IEnumerable<labwebprojeto.Models.Produtora>

<table id="Tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="Col_@item.IdProdutora">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProdutora"
                   data-ajax="true" data-ajax-method="get"
                   data-ajax-mode="replace" data-ajax-update="#Col_@item.IdProdutora">

                        Edit
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.IdProdutora"
                   data-ajax="true" data-ajax-method="get"
                   data-ajax-mode="replace" data-ajax-update="#Tabela"
                   data-ajax-confirm="Are you sure?">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
