html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.container {
    margin-left: inherit;
    padding-right: 0rem;
}


::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-thumb {
    background-color: dimgrey;
}

::-webkit-scrollbar-track {
    background-color: lightgrey /* color of the tracking area */
}

html {
  
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    margin-bottom: 60px;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}


/*-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------*/

.row > * {
    padding-right: 0rem;
    padding-left: 0rem;
    
}

.comeon {
}

.lolok {
    position: relative;
    bottom: 13rem;
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(1turn,var(--color-dark),rgba(39,39,39,0) 70%);
    background-color: transparent;
    height: 40rem;
}


.Versepinta {
    display: flex;
    list-style: none;
    color: white;
    justify-content: center;
    padding-top:2rem;
    align-items: center;
    position: relative;
}





.lolok .comeon h1 {
    color: white;
}

.header-top-gradient {
    height: 30rem;
    width: 98rem;
    padding: 0px 0px;
}

    .header-top-gradient img {
        background-repeat: no-repeat;
    }


.barra:after {
    content: "";
    clip-path: polygon(0 100%,100% 100%,0 0);
    background-color: #004460;
    height: 100px;
    min-width: 1200px;
    width: 95rem;
    position: absolute;
    bottom: 209px;
}

.lolok .comeon .nametal h1 {
    padding-top: 2rem;
    text-align:center;
}

.lolok .comeon .precotal {
    text-align:center;
}

.lolok .comeon h2 {
    padding-top: 2rem;
}



.lolok .comeon .maisumbutton {
    text-align:center;
    position:relative;
    right:5.1rem;
}

.lolok .comeon .maisumbutton a {
    background-color:greenyellow;
    color:black;
    font-weight:bold;
    padding:0.5rem;
    font-size:1rem;
    padding-left:2rem;
    padding-right:2rem;
    border-radius:1rem;
}

.temdedar img {
    width: 34rem;
    height: 20rem;
    border-radius: 3rem;
    position: absolute;
    left: 15rem;
    bottom: 0px;
    top: 20rem;
}


.comeon a {
    position:relative;
    left:5.1rem;
}

.detailsButton a{
    color:white;
} 


#msg_default   {
 
    position:relative;
    padding-left:5.9rem;
    
    

}

.Mensagem a {
    
    text-align:center;
    position:relative;
    left:10rem;
    top:.4rem;
 
}

/*-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------*/




/*-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------*/

.registerserio {
    background-image: url(/Images/BACKREGISTER.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    width: 900px;
    margin-left: 22rem;
    margin-right: auto;
    padding: 20px 50px;
    margin-top: 15vh;
}


.classmain .registerserio h3 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 50px;
}

.registerserio h3, h1 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 40px;
}



.registerserio hr {
    color: white;
}

.registerserio .checkbox {
    color: white;
}

.registerserio .col-5 {
    padding-left: 3rem;
}


.sinup a {
    color:white;
}














/*-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------*/


/*-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------*/



.bodylogin {
    background-image: url(/Images/TESTE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.fartodisto {
    background-image: url(/Images/galaxy-gaming-background-damb7.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    width: 900px;
    margin-left: 22rem;
    margin-right: auto;
    padding: 20px 50px;
    margin-top: 15vh;
}

.classmain .fartodisto h3 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;

    font-size: 50px;
}

.fartodisto h3, h1 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 40px;
}

.form-floating {
    padding: 0.2rem;

    
}

.form-floating .form-control {
    border-radius:0.5rem;


}

.fartodisto hr {
    color: white;
}

.fartodisto .checkbox {
    color:white;
}

.fartodisto .col-5 {
    padding-left: 3rem;
}

/*.about-login {
    margin-left: 0rem;
    margin: 1rem;
}*/



/*.about-login .about-image img {
    width: 650px;
    height: 550px;
    border-style: unset;
    padding-bottom: 0rem;
    padding-right: 3rem;
}


.about-login .fartodisto .about-image {
    padding: 0rem 13rem;
}

.about-login {
    
    
}

.about-login .fartodisto  {
  
        padding-right: 0rem;
        padding: 0rem 0rem;
        background-color: white;
        padding: 0rem 0rem;
        border-radius: 2rem;
        
}
*/
/*.classmain .fartodisto h3 {
    color: blue;
    padding-bottom: 3rem;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 40px;
}

.about-login .fartodisto .about-rightcena button {
    padding: 0rem 0rem;
}

.about-login h2 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: white;
    padding-top: 2rem;
    padding-left: 10rem;
}

.form-floating {
    padding: 0.2rem;
}

.checkbox {
    padding: 0.2rem;
}
*/








    /*-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------*/


/*----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------*/

.about-login .about-rightcena h4 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: blue;
    padding-top: 0rem;
}




/*----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------*/



.naoentendo .hero-content {
    background-image: url(/Images/TESTE.jpg);
    padding-top: 200px;
    width: 95.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::before, ::after {
    box-sizing: border-box;
}


.line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0rem;
    padding-left:0rem;
    
    
}

.site-title {
    position: relative;
    text-align: center;
}

.texto1 {
    color: rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    text-align: center;
    
}

.texto2 {
    color: rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-align: center;

}



@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 14.3em;
    }
}



.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}


@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

.setacrl {
    position:relative;
    text-align:center;

}

.sera2 i {
    padding-top: 16%;
    
}


.fa.icone {
    font-size: 60px;
    color: white;
    opacity: 1;
    animation: anima 1500ms ease infinite;
}

@keyframes anima {
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}


.d-flex {
    padding: 1rem;
    padding-left: 10rem;
}

    .d-flex .btn {
        background-color: white;
    }

.jumbotron .container {
    color: white;
    font-family: fantasy;
    font-weight: bold;
    padding: 1rem;
    padding-left: 10rem;
}

.jumbotron .container h1 {
        font-size: 100px;
}

.jumbotron .container .lead {
        color: white;
}


.containerIndex {
    position: relative;
    left: 7rem;
    top: 5rem;
}

.containerIndex img {
        
        border-radius: 2rem;
        width: 380px;
        height: 218px;
}

    .containerIndex .card {
        border-radius: 2rem;
        width: 380px;
        height: 218px;
        text-align: justify;
        background-color: transparent;
        box-shadow: 10px 0px 10px #2b0365;
    }


.card-img-top:hover {
    transform:scale(1.05);
    transition: 0.8s all cubic-bezier(0.175,0.885,0.32,1.275)
}


.containerIndex .d-flex {
    padding-left: 5.6rem;
}

.containerIndex .d-flex .btn-group a {
        bottom: 3.7rem;
        border-radius: 2rem;
        background-color: #05fa87;
        color: black;
        font-weight: bold;
        font-size: 17px;
}




.containerIndex .card .btn-group a, small {
    right: 6.5rem;
}


.containerIndex .card .btn-group small {
    font-size: 20px;
}


.containerIndex .card .btn-group {
    right: 1rem
}


    .containerIndex .card .card-body p {
        text-align: initial;
        color: white;
        font-size: 15px;
        font-weight:normal;
        display: inline-block;
        position:relative;
        left:.7rem;
        bottom:1rem;

    }





/*---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------*/
/*.img-container {
    width:20rem;
}
*/
.control-section {
    margin: auto;
    width: 500px;
}

    .control-section .e-carousel-item {
        left: 20rem;
    }

/*.detailsButton {
    padding-right: 51.0rem;
    padding-left: 2.6rem;
}

    .detailsButton #msg_default {
        padding-left: 5.8rem;
}

.detailsButtonJust {
    padding-left: 13.2rem;
}
*/


/* Parallax animation */
.parallax .e-carousel-item {
    transition: transform 1s ease-in-out;
}

    .parallax .e-carousel-item.e-next {
        animation: ParallaxIn 1s ease-in-out;
    }

    .parallax .e-carousel-item.e-prev {
        animation: ParallaxOut 1s ease-in-out;
    }

@keyframes ParallaxIn {
    from {
        opacity: 0;
        transform: scale(0) translateY(100%);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes ParallaxOut {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(0) translateY(-100%);
    }
}


.ApenasInf {
    padding-top:2rem;
}


.buttonBuy {
    padding-left: 13rem;
    
    
}

    .buttonBuy button {
        border-radius: 6rem;
        font-size: 18px;
        padding: 10px 35px;
        background-color: greenyellow;
        font-weight: bold;

    }




.LetrasYa {
    color: white;
}

.containerT {
    color: white;
}

    .containerT h1 {
        padding-left: 10.6rem;
    }


/*--------------------------------------------[VIEW FORGOT PASSWORD]----------------------------------*/
.about-forgotPassword {
    margin-left: 0rem;
    margin: 1rem;
}


.about-forgotPassword .about-image img {
    width: 650px;
    height: 550px;
    border-style: unset;
    padding-bottom: 0rem;
    padding-right: 3rem;
}


.about-forgotPassword .labweb .about-image {
    padding: 0rem 13rem;
}



.about-forgotPassword .labweb .about-rightcena {
    padding-right: 0rem;
    padding: 5rem 0rem;
    background-color: white;
    padding: 2rem 2rem;
    padding-bottom: 5rem;
    border-radius: 2rem;
    margin: auto;
}

.classmain .labweb .about-rightcena h1 {
    color: blue;
    padding-bottom: 3rem;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
}

.classmain .labweb .about-rightcena h2 {
    color: black;
    font-family: var(--bs-body-font-family);
    padding: 0rem;
    text-align: start;
    font-size: 40px;
}

.about-forgotPassword .labweb .about-rightcena button {
    padding-right: 0rem;
    text-align: center;
    font-size: 20px;
}



.about-forgotPassword h2 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: white;
    padding-top: 2rem;
    padding-left: 10rem;
}

.soparabutton {
    padding-top: 0.8rem;
}
/*---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------*/
.form-floating button {
    color: white;
}


.Sigaquesiga h1, h2 {
    color: white;
}


.paratodos h3 {
    color: white;
}





.sigasiga {
    padding-left:2rem;
}



.table {
    overflow-y: scroll;
    height: 200px;
    display: block;
}




/*----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS--------------------- */

.container .d-flex {
    padding-left: .6rem;
}

.d-flex {
    padding: 1rem;

    
}

.about-login .fartodisto2 .about-rightcena button {
    padding: .4rem; 
}



.about-login .fartodisto2 .about-image {
    padding: 0rem 13rem;
}



.about-login .fartodisto2 .about-rightcena {

    background-color: white;
    padding: 2rem 2rem;
    padding-bottom: 4rem;
    border-radius: 2rem;
    margin: auto;
}

a.buttonCat {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: none;
    background-color:green;
}

.about-rightcena table  {
    padding-left:2.5rem;
}
.about-rightcena .butNew {
    padding-left:7.5rem;
    padding-top:2rem;
}

.about-login .fartodisto2 .form-group h10 {
    color: black;
    font-family: var(--bs-body-font-family);
    padding: 0rem;
    text-align: start;
    font-size: 20px;
}


/*----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS--------------------- */

