html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.container {
    margin-left: inherit;
    padding-right: 0rem;
}

#bloquear-selecao {
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: dimgrey;
}

::-webkit-scrollbar-track {
    background-color: lightgrey /* color of the tracking area */
}

.navbar {
    padding-left:1rem;
}

html {
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    margin-bottom: 60px;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}


/*-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------*/

.jogosBoddy {
    background-color: #410698;
    overflow: hidden
}

.row > * {
    padding-right: 0rem;
    padding-left: 0rem;
    
}

.comeon {
}

.lolok {
    position: relative;
    bottom: 13rem;
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(1turn,var(--color-dark),rgba(39,39,39,0) 70%);
    background-color: transparent;
    height: 40rem;
}


.Versepinta {
    position:relative;
    top:2rem;
    text-align:center;


}

.Versepinta a {
    color:white;
    margin:0 10px;
    border-radius:0.8rem
   
    

}



.lolok .comeon h1 {
    color: white;
}

.header-top-gradient {
    height: 30rem;
    width: 98rem;
    padding: 0px 0px;
}

    .header-top-gradient img {
        background-repeat: no-repeat;
    }


.barra:after {
    content: "";
    clip-path: polygon(0 100%,100% 100%,0 0);
    background-color: #410698;
    height: 100px;
    min-width: 1200px;
    width: 95rem;
    position: absolute;
    bottom: 209px;
}

.lolok .comeon .nametal h1 {
    padding-top: 2rem;
    text-align:center;
}

.lolok .comeon .precotal {
    text-align:center;
}

.lolok .comeon h2 {
    padding-top: 2rem;
}



.lolok .comeon .maisumbutton {
    text-align:center;
    position:relative;

}

.lolok .comeon .maisumbutton a {
    background-color:greenyellow;
    color:black;
    font-weight:bold;
    padding:0.5rem;
    font-size:1rem;
    padding-left:2rem;
    padding-right:2rem;
    border-radius:1rem;
}

.temdedar img {
    width: 34rem;
    height: 20rem;
    border-radius: 3rem;
    position: absolute;
    left: 15rem;
    bottom: 0px;
    top: 20rem;
}




.detailsButton a{
    color:white;
} 


#msg_default   {
 
    position:relative;
    padding-left:5.9rem;
    
    

}

.Mensagem a {
    
    text-align:center;
    position:relative;
    left:10rem;
    top:.4rem;
 
}

/*-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------*/




/*-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------*/

.registerserio {
    background-image: url(/Images/BACKREGISTER.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    width: 900px;
    margin-left: 22rem;
    margin-right: auto;
    padding: 20px 50px;
    margin-top: 15vh;
}


.classmain .registerserio h3 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 50px;
}

.registerserio h3, h1 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 40px;
}



.registerserio hr {
    color: white;
}

.registerserio .checkbox {
    color: white;
}

.registerserio .col-5 {
    padding-left: 3rem;
}


.sinup a {
    color:white;
}














/*-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------
-----------------------------------REGISTER (NOVO)-----------------------*/


/*-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------*/



.bodylogin {
    background-image: url(/Images/TESTE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.fartodisto {
    background-image: url(/Images/galaxy-gaming-background-damb7.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    width: 900px;
    margin-left: 22rem;
    margin-right: auto;
    padding: 20px 50px;
    margin-top: 15vh;
}

.classmain .fartodisto h3 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;

    font-size: 50px;
}

.fartodisto h3, h1 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 40px;
}

.form-floating {
    padding: 0.2rem;

    
}

.form-floating .form-control {
    border-radius:0.5rem;


}

.fartodisto hr {
    color: white;
}

.fartodisto .checkbox {
    color:white;
}

.fartodisto .col-5 {
    padding-left: 3rem;
}








/*-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------
-----------------------------------LOGIN (NOVO)-----------------------*/


/*----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------*/

.about-login .about-rightcena h4 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: blue;
    padding-top: 0rem;
}




/*----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------*/



.naoentendo .hero-content {
    background-image: url(/Images/TESTE.jpg);
    padding-top: 200px;
    width: 95.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::before, ::after {
    box-sizing: border-box;
}


.line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0rem;
    padding-left:0rem;
    
    
}

.site-title {
    position: relative;
    text-align: center;
}

.texto1 {
    color: rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    text-align: center;
    
}

.texto2 {
    color: rgba(255, 255, 255, 0.75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-align: center;

}



@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 14.3em;
    }
}



.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}


@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

.setacrl {
    position:relative;
    text-align:center;

}

.sera2 i {
    padding-top: 16%;
    
}


.fa.icone {
    font-size: 60px;
    color: white;
    opacity: 1;
    animation: anima 1500ms ease infinite;
}

@keyframes anima {
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}


.d-flex {
    padding: 1rem;
    padding-left: 10rem;
}

    .d-flex .btn {
        background-color: white;
    }

.jumbotron .container {
    color: white;
    font-family: fantasy;
    font-weight: bold;
    padding: 1rem;
    padding-left: 10rem;
}

.jumbotron .container h1 {
        font-size: 100px;
}

.jumbotron .container .lead {
        color: white;
}


.containerIndex {
    position: relative;
    left: 7rem;
    top: 5rem;
}

.containerIndex img {
        
        border-radius: 2rem;
        width: 380px;
        height: 218px;
}

    .containerIndex .card {
        border-radius: 2rem;
        width: 380px;
        height: 218px;
        text-align: justify;
        background-color: transparent;
        box-shadow: 10px 0px 10px #2b0365;
    }


.card-img-top:hover {
    transform:scale(1.05);
    transition: 0.8s all cubic-bezier(0.175,0.885,0.32,1.275)
}


.containerIndex .d-flex {
    padding-left: 5.6rem;
}

.containerIndex .d-flex .btn-group a {
        bottom: 3.7rem;
        border-radius: 2rem;
        background-color: #05fa87;
        color: black;
        font-weight: bold;
        font-size: 17px;
}




.containerIndex .card .btn-group a, small {
    right: 6.5rem;
}


.containerIndex .card .btn-group small {
    font-size: 20px;
}


.containerIndex .card .btn-group {
    right: 1rem
}


    .containerIndex .card .card-body p {
        text-align: initial;
        color: white;
        font-size: 15px;
        font-weight:normal;
        display: inline-block;
        position:relative;
        left:.7rem;
        bottom:1rem;

    }





/*---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------*/
/*.img-container {
    width:20rem;
}
*/
.control-section {
    margin: auto;
    width: 500px;
}

    .control-section .e-carousel-item {
        left: 20rem;
    }

/*.detailsButton {
    padding-right: 51.0rem;
    padding-left: 2.6rem;
}

    .detailsButton #msg_default {
        padding-left: 5.8rem;
}

.detailsButtonJust {
    padding-left: 13.2rem;
}
*/


/* Parallax animation */
.parallax .e-carousel-item {
    transition: transform 1s ease-in-out;
}

    .parallax .e-carousel-item.e-next {
        animation: ParallaxIn 1s ease-in-out;
    }

    .parallax .e-carousel-item.e-prev {
        animation: ParallaxOut 1s ease-in-out;
    }

@keyframes ParallaxIn {
    from {
        opacity: 0;
        transform: scale(0) translateY(100%);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes ParallaxOut {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(0) translateY(-100%);
    }
}


.ApenasInf {
    padding-top:2rem;
}


.buttonBuy {
    padding-left: 13rem;
    
    
}

    .buttonBuy button {
        border-radius: 6rem;
        font-size: 18px;
        padding: 10px 35px;
        background-color: greenyellow;
        font-weight: bold;

    }




.LetrasYa {
    color: white;
}

.containerT {
    color: white;
}

    .containerT h1 {
        padding-left: 10.6rem;
    }


/*--------------------------------------------[VIEW FORGOT PASSWORD]----------------------------------*/
.forgotpassword {
    background-image: url(/Images/galaxy-gaming-background-damb7.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    width: 900px;
    height:400px;
    margin-left: 22rem;
    margin-right: auto;
    padding: 20px 50px;
    margin-top: 15vh;
}

.classmain .forgotpassword h3 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 50px;
}

.forgotpassword h3, h1 {
    color: white;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 40px;
}



.form-floating {
    padding: 0.2rem;
}

    .form-floating .form-control {
        border-radius: 0.5rem;
    }

.forgotpassword hr {
    color: white;
}

.forgotpassword h2 {
    padding-top:1rem;
    position:relative;
    left:2rem;
}

.forgotpassword .col-5 {
    padding-left: 3rem;
    padding-top:1rem;
}
}
/*---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------*/
.form-floating button {
    color: white;
}


.Sigasiga h1, h2 {
    color: white;
    position: relative;
    
}

.managecount {
    position: relative;
    padding-left:21rem;
}

.elidar h1 {
    position: relative;
    left:6.8rem
}

.managecount h2 {
    position: relative;
    left:10rem;
    padding-left:3.7rem;
}


.paratodos h3 {
    color: white;
    position: relative;
    left: 10rem;
}



.managecount hr{
    color:white;
    width:97rem;
    position:relative;
    right:22rem;
}

.sigasiga {
    padding-left: 0rem;
    position: relative;
    left: 10rem;
}



.table {
    overflow-y: scroll;
    height: 200px;
    display: block;
    position:relative;
    left:0rem;
}


.personaldata {
    background-image: url(/Images/TESTE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS--------------------- */
.CategoriasBoddy {
    background-image: url(/Images/TESTE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fartodisto2 {
    padding-left:50rem;

}

.d-flex {
    padding-left: 5rem;
    padding-right:5rem;
}



.about-login .fartodisto2 .about-rightcena button {
    padding: .4rem; 
    
}



.about-login .fartodisto2 .about-rightcena h2{
    color:black;
    text-align:center;
    padding-top:1.2rem;
}


.about-login .fartodisto2 .about-rightcena {

    background-color: white;
    position:relative;
    top:8rem;
    right:19rem;
    border-radius: 2rem;
    margin: auto;

}

.about-rightcena table  {
    padding-left:9.5rem;
}


.about-rightcena .butNew {
    padding-top: 2rem;
    position: relative;
    bottom: 1rem;
    text-align:center;
    padding-bottom: 4rem;
}

#divContent {
    
    height: 500px;
}

.scrollbeau {
    overflow-y: scroll;
    display: block;
    height: 400px;
}

.backtolist {
    position:relative;
    left:5rem;
}

.about-login .fartodisto2 .form-group h10 {
    color: black;
    padding: 0rem;
    text-align: start;
    font-size: 20px;
}







.fartodisto2 .form-group {
    padding-left:5rem;
    padding-top:0.5rem;
    padding-right:5rem;
}

.fartodisto2 .form-groupbutton {
    padding-top:0.0rem;
    padding-bottom:3rem;
    

}


/*----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS--------------------- */

/*----------------------------------FAVORTIOS----------------------------------
----------------------------------FAVORTIOS----------------------------------
----------------------------------FAVORTIOS----------------------------------
----------------------------------FAVORTIOS----------------------------------*/

.favoritos {
    padding-left: 50rem;
}

.d-flex {
    padding-left: 5rem;
    padding-right: 5rem;
}



.about-favoritos .favoritos .about-rightcena button {
    padding: .4rem;
}



.about-favoritos .favoritos .about-rightcena h2 {
    color: black;
    text-align: center;
    padding-top: 1.2rem;
}


.about-favoritos .favoritos .about-rightcena {
    background-color: white;
    position: relative;
    padding-bottom: 0rem;
    top: 8rem;
    right: 19rem;
    border-radius: 2rem;
    margin: auto;
}

.about-favoritos .about-rightcena table {
    padding-left: 8.5rem;
}


.about-favoritos .about-rightcena .butNew {
    padding-top: 2rem;
    position: relative;
    bottom: 1rem;
    text-align: center;
    padding-bottom: 4rem;
}

#divContent {
    height: 500px;
}



.scrollbeau {
    overflow-y: scroll;
    display: block;
    height: 400px;
}

.backtolist {
    position: relative;
    left: 5rem;
}

.about-favoritos .favoritos .form-group h10 {
    color: black;
    padding: 0rem;
    text-align: start;
    font-size: 20px;
}




.table th {
    position:relative;
    left:3rem;
}

.favoritos a {
    position:relative;
    left:5rem;
}
.favoritos .paraisto a {
    position:relative;
    bottom:3rem;
    left:10rem;
}

.favoritos .form-group {
    padding-left: 5rem;
    padding-top: 0.5rem;
    padding-right: 5rem;
}

.favoritos .form-groupbutton {
    padding-top: 0.0rem;
    padding-bottom: 3rem;
}


/*----------------------------------FAVORTIOS----------------------------------
----------------------------------FAVORTIOS----------------------------------
----------------------------------FAVORTIOS----------------------------------
----------------------------------FAVORTIOS----------------------------------*/

/*----------------------------------Compras(INDEX E DETAILS)----------------------------------
----------------------------------Compras(INDEX E DETAILS)----------------------------------
----------------------------------Compras(INDEX E DETAILS)----------------------------------
----------------------------------Compras(INDEX E DETAILS)----------------------------------*/



.checkoutlista {
    padding-left: 50rem;
}

.d-flex {
    padding-left: 5rem;
    padding-right: 5rem;
}

.about-checkout .Soparaaqui a {
    position: relative;
    left: 14.5rem;
}


.about-checkoutlista .checkoutlista .about-rightcena button {
    padding: .4rem;
}



.about-checkoutlista .checkoutlista .about-rightcena h2 {
    color: black;
    text-align: center;
    padding-top: 1.2rem;
}


.about-checkoutlista .checkoutlista .about-rightcena {
    background-color: white;
    position: relative;
    padding-bottom: 0rem;
    top: 7rem;
    right: 18rem;
    border-radius: 2rem;
    margin: auto;
}







.checkoutlista p {
    position: relative;
    text-align: center;
}






.about-checkoutlista table {
    padding-left:3rem;
    padding-right:4rem;
    position:relative;
    bottom:2rem;

}



.about-checkoutlista  dd {
    text-align:center;
}

.about-checkoutlista dt {
    text-align:center;
}


.about-checkoutlista h1 {
    position:relative;
    color:black;
    top:1rem;
}

.about-checkoutlista .adetails a {
    position:relative;
    left:14.4rem;
}


/*----------------------------------Compras(INDEX E DETAILS)----------------------------------
----------------------------------Compras(INDEX E DETAILS)----------------------------------
----------------------------------Compras(INDEX E DETAILS)----------------------------------
----------------------------------Compras(INDEX E DETAILS)----------------------------------*/

/*----------------------------------Compras----------------------------------
----------------------------------Compras----------------------------------
----------------------------------Compras----------------------------------
----------------------------------Compras----------------------------------*/

.checkout {
    padding-left: 50rem;
}

.d-flex {
    padding-left: 5rem;
    padding-right: 5rem;
}

.checkout table {
    position:relative;
   
}


.about-checkout .checkout .about-rightcena button {
    padding: .4rem;
}



.about-checkout .checkout .about-rightcena h2 {
    color: black;
    text-align: center;
    padding-top: 1.2rem;
}


.about-checkout .checkout .about-rightcena {
    background-color: white;
    position: relative;
    padding-bottom: 0rem;
    top: 8rem;
    right: 19rem;
    border-radius: 2rem;
    margin: auto;
}

.about-checkout .about-rightcena table {
    padding-left: 8.5rem;
}






.checkout p {
    position:relative;
    text-align:center;

}



.checkout a {
    position: relative;
    left: 13.7rem;
}



.checkout .form-group {
    padding-left: 14.6rem;
    padding-top: 0.5rem;
    padding-right: 5rem;
}

.checkout .form-groupbutton {
    padding-top: 0.0rem;
    padding-bottom: 3rem;
}









/*----------------------------------Compras----------------------------------
----------------------------------Compras----------------------------------
----------------------------------Compras----------------------------------
----------------------------------Compras----------------------------------*/

/*---------------------- JOIN  ---------------------
/*---------------------- JOIN  ---------------------
/*---------------------- JOIN  ---------------------
/*---------------------- JOIN  --------------------- */




*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.joinclass h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

.joinclass p {
    margin: 0 0 20px;
    line-height: 1.5;
}

.temdedar {
    padding-top: 10rem;
    padding-left: 25rem;
    padding-right:10rem;
    
}

.temdedar label {
        background-color: #010b4f;
}

.joinclass section {
    display: none;
    padding: 30px 0 0;
    border-top: 1px solid #ddd;
    background-color: #010b4f;
    padding-bottom:7rem;
    border-radius:1rem;

}

.seraserasera {
    display: inline-block;
    position:relative;
    left:5rem;
    
    

}

.seraserasera a {
    color: white;
    text-decoration:none;

}

.temdedar label {
    position: relative;
    left: 1.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

#tab1, #tab2, #tab3 {
    display:none;
}


.joinclass label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    padding-left: 5rem;
    padding-right:5rem;
    border: 1px solid transparent;
}

 label:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px;
}

   

   

    label:hover {
        color: #888;
        cursor: pointer;
    }

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

        label:before {
            margin: 0;
            font-size: 18px;
        }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}







.joinclass {
    background-image: url(/Images/TESTE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*---------------------- JOIN  ---------------------
/*---------------------- JOIN  ---------------------
/*---------------------- JOIN  ---------------------
/*---------------------- JOIN  ---------------------*/


.banner  {
    background-image: url(/Images/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:24rem;
    width:111.4rem;
    right:16rem;
    position:relative;
    top:8rem;
}


.port-section {
 
    position:relative;
    width:95rem;
    height: 55rem;
    top:10rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.port-section h3 {
    color:white;
    font-size:3.4rem;
    font-family:Impact;
    position:relative;
    text-align:center;
    top:3rem
}

    .port-section .container {
        width: 70%;
        position:relative;
        left:16%;
        top:5rem;
        height: 100vh;
        background: url(image/CREATIVE_3.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

        .port-section .container input[type=radio] {
            display: none;
        }

        .port-section .container .card {
            position: absolute;
            width: 50%;
            height: 400px;
            left: 0;
            right: 0;
            margin: 60px auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            transition: 0.4s ease;
            cursor: pointer;
            border-radius: 40px;
        }

            .port-section .container .card img {
                width: 100%;
                opacity:80%;
                height: 100%;
                object-fit: cover;
                border-radius: 40px;
            }


            .port-section .container .card h2 {
                position: absolute;
                z-index: 9;
                color: #fff;
                font-size: 3rem;
                margin-bottom: 480px;
                margin-left: 12.1rem;
            }

.port-section .container .card h1 {
    position: absolute;
    z-index: 9;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 480px;
    margin-left: 9rem;
}

            .port-section .container .card p {
                position: absolute;
                z-index: 9;
                width: 500px;
                color: #fff;
                margin-top: 200px;
                margin-left: 6rem;
                text-align: justify;
            }

            .port-section .container .card button {
                position: absolute;
                z-index: 9;
                margin-left: 41%;
                margin-top: 340px;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                color: #fff;
                background: #20c997;
                text-transform: uppercase;
                cursor: pointer;
            }

        .port-section .container .cards {
            position: relative;
            width: 100%;
            height: 100%;
        }

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}





/*------------------------logout ----------------
------------------------logout ----------------
------------------------logout ----------------
------------------------logout ----------------*/

.checkoutlista .form-inline  {
    padding-top:4rem;
    margin-left:2rem;
    margin-right:18rem;
    position:relative;
    left:10rem;
    bottom: 2rem;
    
}

    .checkoutlista .form-inline button {
        background-color: #20c997;
        border-radius: 2rem;
    }

    .checkoutlista  p {
        position:relative;
        padding-top:2rem;
    }


/*------------------------logout ----------------
------------------------logout ----------------
------------------------logout ----------------
------------------------logout ----------------*/


.footer {
    width: 95.4rem;
    position: relative;
    top: 2rem;
}

.footerclass {
    background-color: black;
    padding-top: 0.1rem;
}


/*-------------------UTILIZADOR----------------
-------------------UTILIZADOR----------------
-------------------UTILIZADOR----------------
-------------------UTILIZADOR----------------*/

.about-checkoutlista .detailsuti {
    position: relative;
    left: 2rem;
    padding: 1rem;
}

.about-checkoutlista .paratrocar a {
    position: relative;
    left: 2.7rem;
    bottom:2rem;
}




/*-------------------UTILIZADOR----------------
-------------------UTILIZADOR----------------
-------------------UTILIZADOR----------------
-------------------UTILIZADOR----------------*/



/*--------------------AVISOS-----------------------
--------------------AVISOS-----------------------
--------------------AVISOS-----------------------
--------------------AVISOS-----------------------*/

.confimated {
    position: relative;
    left: 16rem;
    top: 8rem;
    padding-left: 20rem;
    margin-right:40rem;
}


/*--------------------AVISOS-----------------------
--------------------AVISOS-----------------------
--------------------AVISOS-----------------------
--------------------AVISOS-----------------------*/


/*------------------------USER--------------------
------------------------USER--------------------
------------------------USER--------------------
------------------------USER--------------------*/

.about-rightcena .butNew2  {
    padding-top: 2rem;
    position: relative;
    bottom: 1rem;
    text-align: center;
 
    
}


    .about-rightcena .butNew2 button {
        border-radius: 1rem;
        text-align: center;
        background-color: #20c997;
        border-style:none;
    }


/*------------------------USER--------------------
------------------------USER--------------------
------------------------USER--------------------
------------------------USER--------------------*/

