html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    margin-bottom: 60px;
    scroll-behavior: smooth;
}


/*-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------*/

.row > * {
    padding-right: 0rem;
    padding-left: 0rem;
}

.comeon {
}

.lolok {
    position: relative;
    bottom: 13rem;
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(1turn,var(--color-dark),rgba(39,39,39,0) 70%);
    background-color: transparent;
    height: 40rem;
}


.Versepinta {
    display: flex;
    list-style: none;
    color: white;
    padding-top: 2rem;
    text-align:center;
}





.lolok .comeon h1 {
    color: white;
}

.header-top-gradient {
    height: 30rem;
    width: 98rem;
    padding: 0px 0px;
}

    .header-top-gradient img {
        background-repeat: no-repeat;
    }


.barra:after {
    content: "";
    clip-path: polygon(0 100%,100% 100%,0 0);
    background-color: #004460;
    height: 100px;
    min-width: 1200px;
    width: 95rem;
    position: absolute;
    bottom: 710px;
}

.lolok .comeon .nametal h1 {
    padding-top: 2rem;
    text-align:center;
}

.lolok .comeon .precotal {
    text-align:center;
}

.lolok .comeon h2 {
    padding-top: 2rem;
}

.lolok .comeon button {
    padding: 1rem;
    border-radius: 2rem;
    background-color: greenyellow;
    font-size: 15px;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    left: 1.4rem;
    border-style: none;
}

.lolok .comeon .maisumbutton {
    padding-left: 4.6rem;
}

.temdedar img {
    width: 34rem;
    height: 20rem;
    border-radius: 3rem;
    position: absolute;
    left: 15rem;
    bottom: 0px;
    top: 20rem;
}


.comeon a {
    position:relative;
    left:5.1rem;
}

.detailsButton a{
    color:white;
} 


#msg_default   {
    position:relative;
    

}

/*-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------
-----------------------------------DETAILS JOGO (NOVO)-----------------------*/

.about-login {
    margin-left: 0rem;
    margin: 1rem;
}


.container {
    margin-left: inherit;
    padding-right: 0rem;
}

.about-login .about-image img {
    width: 650px;
    height: 550px;
    border-style: unset;
    padding-bottom: 0rem;
    padding-right: 3rem;
}


.about-login .fartodisto .about-image {
    padding: 0rem 13rem;
}

.about-login {
    padding: 0rem 0rem;
    padding-right: 0rem;
}

    .about-login .fartodisto .about-rightcena {
        padding-right: 0rem;
        padding: 0rem 0rem;
        background-color: white;
        padding: 2rem 2rem;
        padding-bottom: 5rem;
        border-radius: 2rem;
        margin: auto;
    }

.classmain .fartodisto h3 {
    color: blue;
    padding-bottom: 3rem;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
}

.about-login .fartodisto .about-rightcena button {
    padding: 0rem 0rem;
}

.about-login h2 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: white;
    padding-top: 2rem;
    padding-left: 10rem;
}

.form-floating {
    padding: 0.2rem;
}

.checkbox {
    padding: 0.2rem;
}



/*----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------
----------------------------------------SEGUNDA view (TENHO DE VER O NOME)-----------------------------------*/

.about-login .about-rightcena h4 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: blue;
    padding-top: 0rem;
}




/*----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------
----------------------------------------SEGUNDA view (INDEX)-----------------------------------*/

.d-flex {
    padding: 1rem;
    padding-left: 10rem;
}

    .d-flex .btn {
        background-color: white;
    }

.jumbotron .container {
    color: white;
    font-family: fantasy;
    font-weight: bold;
    padding: 1rem;
    padding-left: 10rem;
}

    .jumbotron .container h1 {
        font-size: 100px;
    }

    .jumbotron .container .lead {
        color: white;
    }


.container .card {
    border-radius: 2rem;
    width: 16rem;
    height: 24rem;
    text-align: justify;
    box-shadow: 13px 5px 5px MidnightBlue;
}

.container .d-flex {
    padding-left: 5.6rem;
}

    .container .d-flex .btn-group a {
        bottom: 3.7rem;
        border-radius: 2rem;
        background-color: #05fa87;
        color: black;
        font-weight: bold;
        font-size: 17px;
    }


.container .card img {
    border-radius: 2rem;
    border-color: blue;
}

.container .card .btn-group a, small {
    right: 6.5rem;
}


.container .card .btn-group small {
    font-size: 20px;
}


.container .card .btn-group {
    right: 1rem
}


.container .col-md-3 {
    padding-left: 7.5rem;
}

.container .card .card-body .card-text {
    text-align: initial;
    margin: 0rem;
    font-size: 15px;
    font-weight: bold;
}

.container .card .card-body .card-text2 {
    text-align: initial;
    font-size: 15px;
    font-weight: unset;
}

.container .card-body input {
    border: 0 none;
    outline: 0;
    width: 7rem;
    font-size: 25px;
    font-weight: bold;
}



/*---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------
---------------------------------------- view (DETAILS)-----------------------------------*/


/*.img-container {
    width:20rem;
}
*/

.control-section {
    margin: auto;
    width: 500px;
}

    .control-section .e-carousel-item {
        left: 20rem;
    }

.detailsButton {
    padding-right: 51.0rem;
    padding-left: 2.6rem;
}

    .detailsButton #msg_default {
        padding-left: 5.8rem;
    }

.detailsButtonJust {
    padding-left: 13.2rem;
}



/* Parallax animation */
.parallax .e-carousel-item {
    transition: transform 1s ease-in-out;
}

    .parallax .e-carousel-item.e-next {
        animation: ParallaxIn 1s ease-in-out;
    }

    .parallax .e-carousel-item.e-prev {
        animation: ParallaxOut 1s ease-in-out;
    }

@keyframes ParallaxIn {
    from {
        opacity: 0;
        transform: scale(0) translateY(100%);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes ParallaxOut {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(0) translateY(-100%);
    }
}


.ApenasInf {
    padding-top:2rem;
}


.buttonBuy {
    padding-left: 13rem;
    
    
}

    .buttonBuy button {
        border-radius: 6rem;
        font-size: 18px;
        padding: 10px 35px;
        background-color: greenyellow;
        font-weight: bold;

    }




.LetrasYa {
    color: white;
}

.containerT {
    color: white;
}

    .containerT h1 {
        padding-left: 10.6rem;
    }


/*--------------------------------------------[VIEW FORGOT PASSWORD]----------------------------------*/
.about-forgotPassword {
    margin-left: 0rem;
    margin: 1rem;
}


.about-forgotPassword .about-image img {
    width: 650px;
    height: 550px;
    border-style: unset;
    padding-bottom: 0rem;
    padding-right: 3rem;
}


.about-forgotPassword .labweb .about-image {
    padding: 0rem 13rem;
}



.about-forgotPassword .labweb .about-rightcena {
    padding-right: 0rem;
    padding: 5rem 0rem;
    background-color: white;
    padding: 2rem 2rem;
    padding-bottom: 5rem;
    border-radius: 2rem;
    margin: auto;
}

.classmain .labweb .about-rightcena h1 {
    color: blue;
    padding-bottom: 3rem;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
}

.classmain .labweb .about-rightcena h2 {
    color: black;
    font-family: var(--bs-body-font-family);
    padding: 0rem;
    text-align: start;
    font-size: 40px;
}

.about-forgotPassword .labweb .about-rightcena button {
    padding-right: 0rem;
    text-align: center;
    font-size: 20px;
}



.about-forgotPassword h2 {
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: white;
    padding-top: 2rem;
    padding-left: 10rem;
}

.soparabutton {
    padding-top: 0.8rem;
}
/*---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------
---------------------------------------- view (MANAGE YOUR ACCOUNT)-----------------------------------*/
.form-floating button {
    color: white;
}


.Sigaquesiga h1, h2 {
    color: white;
}


.paratodos h3 {
    color: white;
}





.sigasiga {
    padding-left:2rem;
}



.table {
    overflow-y: scroll;
    height: 200px;
    display: block;
}




/*----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS--------------------- */

.container .d-flex {
    padding-left: .6rem;
}

.d-flex {
    padding: 1rem;

    
}

.about-login .fartodisto2 .about-rightcena button {
    padding: .4rem; 
}



.about-login .fartodisto2 .about-image {
    padding: 0rem 13rem;
}



    .about-login .fartodisto2 .about-rightcena {

        background-color: white;
        padding: 2rem 2rem;
        padding-bottom: 4rem;
        border-radius: 2rem;
        margin: auto;
    }

a.buttonCat {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: none;
    background-color:green;
}

.about-rightcena table  {
    padding-left:2.5rem;
}
.about-rightcena .butNew {
    padding-left:7.5rem;
    padding-top:2rem;
}

.about-login .fartodisto2 .form-group h10 {
    color: black;
    font-family: var(--bs-body-font-family);
    padding: 0rem;
    text-align: start;
    font-size: 20px;
}


/*----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS---------------------
----------------------CATEGORIAS INDEX, CREATE, DETAILS--------------------- */

