@model labwebprojeto.Models.Favorito

@{
    ViewData["Title"] = "Create";
}




<body id="bloquear-selecao" class="CategoriasBoddy">
    <main class="classmain">
        <section class="about-favoritos">
            <div class="favoritos">
                <div class="row">
                    <div class="col-md-12 about-rightcena nopadding">
                       <h2>Select your favourite category.</h2>
                         <hr />
           
                            
                             
                   
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                                <label asp-for="IdCategoria" class="control-label">Category</label>
                                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria">Category</select>
                        </div>
                        <div class="form-group">
                                <input type="submit" value="Add to Favorite" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                </div>
            </div>
                
            </div>

         
     
        </section>
    </main>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}