@model IEnumerable<labwebprojeto.Models.Favorito>

@{
    ViewData["Title"] = "Favoritos";
}

<h1>Favourite categories for <strong>@ViewData["userNome"]</strong></>.</h1>

<p>
    <a asp-action="Create">Add new Favourite</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Categoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Nome)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdFavorito">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFavorito">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>