@model IEnumerable<labwebprojeto.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}


<body style="background-color: #004460">
    <main class="classmain">
        <section class="about-login">

            <div class="fartodisto2">
                <div class="row">

                    <div class="col-md-8 about-image nopadding">
                        <h2>Categories</h2>
                        <img alt="about-image" src="/Images/backgroundfinal.png" />
                    </div>
                    <div class="col-md-4 about-rightcena nopadding">
                        <div class="searchbar">
                        <form class="d-flex" asp-controller="Categorias" asp-action="Index" method="get">
                            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="SearchString">
                            <button class="btn btn-outline-success" type="submit" value="Filter">Search</button>
                        </form>
                        </div>
                       
                        <table class="table">
                           @* <thead>
                                <tr>
                                    <th>
                                        <h1>Categories</h1>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>*@
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            
                                            <a asp-action="Edit" asp-route-id="@item.IdCategoria">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.IdCategoria">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.IdCategoria">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="butNew">
                            <a asp-controller="Categorias" asp-action="Create" class="btn btn-sm btn-outline-secondary">
                                Create New
                            </a>
                        </div>
                    </div>
                    </div>
                    </div>
            </section>
           

    </main>
</body>

@*<ejs-button id="custom" cssClass="e-custom" content="CUSTOM"></ejs-button>

<style>
    .e-custom {
        border-radius: 0;
        height: 100px;
        width: 100px;
    }
        .e-custom, .e-custom:hover, .e-custom:focus, .e-custom:active {
            background-color: #ff6e40;
            color: #fff;
        }
    button {
        
    }
</style>

<script>
    document.getElementById('button').onclick = function () {
        window.open("https://www.google.com");
    };
</script>*@