<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - labwebprojeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/labwebprojeto.styles.css" asp-append-version="true" />

    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.4.38/bootstrap5-dark.css" />

    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.4.38/dist/ej2.min.js"></script>

    <!-- Add Toastr Notifications -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#1C1C1C">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/Index">Can't Stop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if(User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="/Utilizadores/Index" class="nav-link text-light">Users</a>
                            </li>
                        }
                        @if ((User.IsInRole("Admin")) || (User.IsInRole("Func")))
                        {
                            <li>
                                <a href="/Join/Index" class="nav-link text-light">Search</a>
                            </li>
                            <li>
                                <a href="/Categorias" class="nav-link text-light">Categories</a>
                            </li>
                            <li>
                                <a href="/Consolas" class="nav-link text-light">Consoles</a>
                            </li>
                            <li>
                                <a href="/Produtoras" class="nav-link text-light">Producers</a>
                            </li>
                        }
                        @if(User.IsInRole("Client"))
                        {
                            <li>
                                <a href="/Join/Index" class="nav-link text-light">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Compras" asp-action="Index">Library</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Favoritos" asp-action="Index">Favorites</a>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/Join/Index" class="nav-link text-light">Search</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if ((User.IsInRole("Admin")) || (User.IsInRole("Func")) || (User.IsInRole("Client")))
                        {
                        <li>
                            <a href="/Identity/Account/Logout" class="nav-link text-light justify-content-end">Logout</a>
                        </li>
                        <li>
                            <a href="/Identity/Account/Manage" class="nav-link text-light justify-content-end">Profile</a>
                        </li>
                        }
                        else {
                        <li>
                            <a href="/Identity/Account/Login" class="nav-link text-light justify-content-end">Login</a>
                        </li>
                        <li>
                            <a href="/Identity/Account/Register" class="nav-link text-light justify-content-end">Sign up</a>
                        </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax/jquery.unobtrusive-ajax.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <!-- Syncfusion Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
