@using labwebprojeto.ViewModels;
@model CreateJogoViewModel

@{
    ViewData["Title"] = "Create";
}



<body id="bloquear-selecao" class="CategoriasBoddy">
    <main class="classmain">
        <section class="about-login">

            <div class="fartodisto2">
                <div class="row">

                    <div id="divContent" class="col-md-12 about-rightcena nopadding">
                        <h2>Create Games</h2>
            <div class="scrollbeau" id="#tentarassim">
        <form asp-action="Create" form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div id="#tentarassim">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto">Image</label>
                <input asp-for="Foto" type="file" class="form-control" placeholder="Foto">
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto1">Image</label>
                <input asp-for="Foto1" type="file" class="form-control" placeholder="FotoDescricao">
                <span asp-validation-for="Foto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto2">Background</label>
                <input asp-for="Foto2" type="file" class="form-control" placeholder="FotoDescricao">
                <span asp-validation-for="Foto2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdConsola" class="control-label"></label>
                <select asp-for="IdConsola" class="form-control" asp-items="ViewBag.IdConsola"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProdutora" class="control-label"></label>
                <select asp-for="IdProdutora" class="form-control" asp-items="ViewBag.IdProdutora"></select>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao1" class="control-label"></label>
                <input asp-for="Descricao1" class="form-control" />
                <span asp-validation-for="Descricao1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                                </div>
        </form>
                        </div>
                        <div class="backtolist">
                                <a asp-action="Index">Back to List</a>
                            </div>

    
    </div>
</div>
<</div>
</section>
</main>
</body>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
