@model IEnumerable<labwebprojeto.Models.Jogo>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body id="bloquear-selecao" class="CategoriasBoddy">
    <main class="classmain">
        <section class="about-login">
            <div class="fartodisto2">
                <div class="row">
                    <div class="col-md-12 about-rightcena nopadding">
                        <h2>Inventory</h2>
                        <div class="searchbar">
                            <form class="d-flex" asp-controller="Jogos" asp-action="Index" method="get">
                                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="SearchString">
                                <button class="btn btn-outline-success" type="submit" value="Filter">Search</button>
                            </form>
                        </div>

                        <label style="text-align:center;
                                    position:relative;
                                    left:13rem;
                                    top:8rem;">
                            @ViewData["empty_message"]
                        </label>
                        
                        <partial name="Listing" model="Model" />

                        <div class="butNew">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        function sucesso() {
            $("#inp").val("");
        }
    </script>
</body>