@model IEnumerable<labwebprojeto.Models.Produtora>

@{
    ViewData["Title"] = "IndexCategorias";
}

<h1>IndexCategorias</h1>

@foreach (var item in Model)
{
    <div class="btn-group">
        <a type="btn btn-success" button asp-controller="Jogos" asp-action="DetailsProdutoras" asp-route-id="@item.IdProdutora" class="btn btn-sm btn-outline-secondary">
            View
        </a>
    </div>
}